@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --main-bg-color: brown;
    --main-text-color: #151515;
}

.App {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-bg-color);
    min-height: 100vh;
    min-width: 100vw;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 2.8fr 0.2fr;
    gap: 1px 1px;
    grid-template-areas: "header header header header" "content content content content" "footer footer footer footer";
}

.menu .hamburger-btn {
    position: absolute;
    margin: 25px;
    left: 1em;
    z-index: 999;
}

footer { grid-area: footer; }

header { grid-area: header; }

main { grid-area: content; }